#End{
    background-color:rgb(17,40,70)	;
    color: white;
    padding: 40px;
}
#EDYODA a {
    text-decoration: none;
    color: white;
    flex-direction: column;
    margin-top: 3px;
}
#End a:hover {
    text-decoration:underline;
}
#EDYODA  h3{
    opacity: 75;
    color:lightgray;
}
.connect{
width: 265px;
}
/* .connect p{

} */
.connect h3{
    opacity: 75;
    color: lightgray;
}